{% extends 'main/base.html' %}

{% block content %}
<a href="{% url 'contato.novo' pk_pessoa %}">Novo Cadastro</a>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for contato in contatos %}
        <tr>
            <td>{{ contato.nome }}</td>
            <td>{{ contato.email }}</td>
            <td>{{ contato.telefone }}</td>
            <td>
                <a href="{% url 'contato.editar' pk_pessoa contato.pk %}">Editar</a>
                <a href="{% url 'contato.remover' pk_pessoa contato.pk %}">Remover</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}